<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :Category %><br>
        <%= collection_check_boxes(:blog, :category_ids, Category.all, :id, :name) do |cb| %>
        <%= cb.label { cb.check_box + ' ' + cb.text  + ' ' } %>
        <% end %>
      </div><br>      

      <%= form.label :detail %><br>
      <%= form.text_area :detail, size:"30x6" , placeholder: " Ex. A quote said by someone", class:"text_area" %><br>

      <%= form.label :title %><br>
      <%= form.text_area :title, size:"30x2", placeholder: " Ex. The person who said the quote above.", class:"text_area" %><br>

      <%= form.label :image %><br>
      <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %><br>
      <%= form.file_field :image, class: 'image', id: 'image' %><br>
      <%= form.hidden_field :image_cache, class: 'image' , id: 'image' %><br><br>

      <div class="actions">
        <%= form.submit :Submit, class: "new_blog" %>
      </div><br>
    <% end %>
  </div>

