<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_check_boxes(:blog, :category_ids, Category.all, :id, :name) do |cb| %>
    <%= cb.label { cb.check_box + ' ' + cb.text } %>
    <% end %>
    <%= form.label :title %>
    <%= form.text_area :title %>
    <%= form.label :detail %>
    <%= form.text_area :detail %>

    <%= form.label :image %>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <%= form.file_field :image, class: 'image', id: 'image' %>
    <%= form.hidden_field :image_cache, class: 'image' , id: 'image' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
