<div class="col-xs-6 col-sm-4 col-md-6 order-1 order-md-2">
  <% if @blogs.present? %>
    <% @blogs.each do |blog| %>
      <div class = "table-responsive">
        <table >
          <tr class="category">
            <th colspan="5" >
              <div class="card-header">
                <% blog.categories.each do |category| %>
                  <%= category.try(:name) || "Others" %>                 
                <% end %>
                <div class="blog_show">
                  <a class="btn" href="<%= blog_path(blog) %>">
                    <span class="material-icons" id = "blog_show">open_in_new</span>
                  </a>
                </div>
              </div>
            </th>
          </tr>

          <tr>
            <th colspan="5" class="th_user">
              <p class="card-text">
                <a class="btn" href="<%= user_path(blog.user_id) %>">
                  <%= image_tag (blog.user.avatar.url), class: "avatar-index rounded-circle mx-auto" if blog.user.avatar && blog.user.avatar.url %>
                </a>
              <span class = "user_name">
                <a class="link_icon" href="<%= user_path(blog.user_id) %>">
                  <%= blog.user.name %>
                </a>
              </span>
                <%= blog.created_at.to_s(:datetime) %>                    
              </p>
            </th>
          </tr>         
      
          <tr>
            <th colspan="5" class="th_detail">
              <a class="blog_detail" href="<%= blog_path(blog) %>">
                <blockquote class="quote-card">
                  <p>
                    <%= blog.detail %>
                  </p>
                </blockquote>
              </a>
            <th>
          </tr>

          <tr>
            <th colspan="5" class="th_title">
              <blockquote class="blockquote mb-0">
                <cite title="Source Title" id="title_main">
                    ～ by <%= blog.title %>
                  </cite>
              </blockquote>
            </th>
          </tr>

          <tr>
            <td colspan="5" class="spk">
              <button class="speak-btn" data-blog="<%= blog.detail %>">
                <span class="material-icons">play_circle</span>
              </button>
              <button class="pause-btn" disabled>
                <span class="material-icons">pause</span>
              </button>
              <button class="resume-btn" disabled>
                <span class="material-icons">replay_circle_filled</span>
              </button>
              <button class="stop-btn" disabled>
                <span class="material-icons">stop_circle</span>
              </button>
            </td>
          </tr>
          
          <tr>
            <th colspan="5" class="th">
              <a class="blog_detail" href="<%= blog_path(blog) %>">
                <%= image_tag(blog.image.url) if blog.image && blog.image.url %>
              </a>
            </th>
          <tr>

          <tr class="option">            
            <td colspan="5" class="many_option">
                <div id="favorites_buttons_<%= blog.id %>">
                  <%= render partial: 'favorites/favorite', locals: { blog: blog} %>
                </div>                  
                <div class = "comment_count">
                  <%= blog.comments.size %> 
                </div>
                <a class="comment_btn" href="<%= blog_path(blog) %>">
                  <span class="material-icons" id="chat_bubble_outline">insert_comment</span>
                  <div class="sub">Comment</div>
                </a>
              <% if blog.user_id == current_user.id %>
                <a class="btn" href="<%= edit_blog_path(blog) %>">
                  <span class="material-icons" id="edit_note">edit_note</span>
                  <div class="sub">Edit</div>
                </a>                 
                <%= button_to(blog_path(id: blog.id, blog_id: blog.id), class:"btn", method: :delete, data: { confirm: 'Are you sure?' }) do %>
                  <span class="material-icons" id="delete">delete</span>
                  <div class="sub">Delete</div>
                <% end %>
              <% else %>
              <% end %>
            </td>
          </tr>

        <% end %>
      </table>          
    </div>
    
    <div class="pagination">
      <% if @blogs.present? %>
        <%= paginate @blogs %>    
      <% end %>          

  <% else %>
    <%= "There are no post here." %>        
  <% end %> 
  
  </div>
</div>

