<div class="col-xs-6 col-sm-4 col-md-6 order-1 order-md-2">
  <% if @blogs.present? %>
    <% @blogs.each do |blog| %>
      <div class = "table-responsive">
        <table >
          <tr class="category">
            <th colspan="5" >
              <div class="card-header">
                <% blog.categories.each do |category| %>
                  <%= category.try(:name) || "Others" %>                 
                <% end %>
                <div class="blog_show">
                  <a class="btn" href="<%= blog_path(blog) %>">
                    <span class="material-icons" id = "blog_show">open_in_new</span>
                  </a>
                </div>
              </div>
            </th>
          </tr>

          <tr>
            <th colspan="5" class="th_user">
              <p class="card-text">
                <a class="btn" href="<%= user_path(blog.user_id) %>">
                  <%= image_tag (blog.user.avatar.url), class: "avatar-index rounded-circle mx-auto" if blog.user.avatar && blog.user.avatar.url %>
                </a>
              <span class = "user_name">
                <a class="link_icon" href="<%= user_path(blog.user_id) %>">
                  <%= blog.user.name %>
                </a>
              </span>
                <%= blog.created_at.to_s(:datetime) %>                    
              </p>
            </th>
          </tr>         
      
          <tr>
            <th colspan="5" class="th_detail">
              <a class="blog_detail" href="<%= blog_path(blog) %>">
                <blockquote class="quote-card">
                  <p>
                    <%= blog.detail %>
                  </p>
                </blockquote>
              </a>
            <th>
          </tr>

          <tr>
            <th colspan="5" class="th_title">
              <blockquote class="blockquote mb-0">
                <cite title="Source Title" id="title_main">
                    ～ by <%= blog.title %>
                  </cite>
              </blockquote>
            </th>
          </tr>

          <tr>
            <td colspan="5" class="spk">
              <button class="speak-btn" data-blog="<%= blog.detail %>">
                <span class="material-icons">play_circle</span>
              </button>
              <button class="pause-btn" disabled>
                <span class="material-icons">pause</span>
              </button>
              <button class="resume-btn" disabled>
                <span class="material-icons">replay_circle_filled</span>
              </button>
              <button class="stop-btn" disabled>
                <span class="material-icons">stop_circle</span>
              </button>
            </td>
          </tr>
          
          <tr>
            <th colspan="5" class="th">
              <a class="blog_detail" href="<%= blog_path(blog) %>">
                <%= image_tag(blog.image.url) if blog.image && blog.image.url %>
              </a>
            </th>
          <tr>

          <tr class="option">            
            <td colspan="5" >                
              <% if current_user.favorited_by?(blog) %>
                <div class = "link_count">
                  <%= blog.favorites.size %> 
                </div>                  
                <i class="fa fa-heart" style="font-size:24px;color:hotpink"></i>                    
                <%= link_to 'Dislike', blog_favorite_path(id: blog.id, blog_id: blog.id), class:'link_icon', method: :delete %>
              <% else %>
                <div class = "link_count">
                  <%= blog.favorites.size %> 
                </div>
                <i class="fa fa-heart" style="font-size:24px;color:hotpink"></i>                     
                <%= link_to 'Like', favorites_path(blog_id: blog.id), class:'link_icon', method: :post %>
              <% end %>
                <div class = "link_count">
                  <%= blog.comments.size %> 
                </div>
                <%= link_to 'Comment', blog, class:'link_icon' %>
              <% if blog.user_id == current_user.id %>
                <%= link_to 'Edit', edit_blog_path(blog), class:"link_blog" %>
                <%= link_to 'Delete', blog, class:'link_blog', method: :delete, data: { confirm: 'Are you sure?' } %>                    
              <% else %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>          
    </div>
    
    <div class="pagination">
      <% if @blogs.present? %>
        <%= paginate @blogs %>    
      <% end %>          

  <% else %>
    <%= "There are no post here." %>        
  <% end %> 
  
  </div>
</div>

