<div class="col-xs-12 col-sm-4 col-md-3 order-2 order-md-1" id="sticky-sidebar">
  <div class="sticky-top">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class = "col3">
        <div class="card-header01">Main Menu</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">
            <span class="material-icons">cottage</span>
              <%= link_to "Home Page", blogs_path, class: "link" %>
            </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%= link_to "Guidance", oauth_guidance_path, class: "link" %>
              </li>                  
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" id="side-subtitle">
                  <span class="material-icons">language</span> Languages
                </li>
                <li class="list-group-item">
                  <%= link_to "English", categories_english_path, class: "link" %>
                </li>
                <li class="list-group-item">
                  <%= link_to "Japanese", categories_japanese_path, class: "link" %>
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" id="side-subtitle">
                  <span class="material-icons">person</span>
                  <%= link_to "Profile", mypage_path, class: "link" %>
                </li>
                <li class="list-group-item">
                  <%= link_to "My Favorites", favorites_path, class: "link" %>                       
                </li>
                <li class="list-group-item">
                  <%= link_to "Update my profile", edit_user_registration_path, class: "link" %>                       
                </li>                    
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" id="side-subtitle">
                  <span class="material-icons">redeem</span> Shares
                </li>
                <li class="list-group-item">
                  <p class="nonki-link">
                    <a class="btn" href="https://www.youtube.com/c/Nonki4ever">
                      <img src="https://inspire.s3.ap-northeast-1.amazonaws.com/uploads/user/avatar/nonki02.png" class="nonki">
                    </a> <br> 
                    <a class="link" href="https://www.youtube.com/c/Nonki4ever">Nonki Channel</a>
                  </p>
                  <p class="link-text01">A Youtube channel for learning Japanese and English conversation by shadowing method.</p>
                  <p class="link-text02">(made by Remi @since 2018)</p>                       
                </li>                    
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>