<div class="row justify-content-md-center ">
  <div class="col-md-auto">
    <div class ="search">
      <%= search_form_for @search_blog, as: :blog_q, class:'search', url: search_blogs_path do |f| %>    
        <%= f.select :categories_id_eq, options_from_collection_for_select(Category.all, "id", "name"), size:"15x1", prompt: 'Category', include_blank: "-----", class:"search_form" %>   
        <%= f.select :tags_name_cont, options_from_collection_for_select(Tag.joins(:blogs).order(created_at: :desc).uniq, "name", "name"), size:"15x1", prompt: 'Tag', include_blank: "-----", class:"search_form" %>  
          <br class="d-sm-none" />
        <%= f.search_field :detail_or_title_cont, size:"15x1", placeholder: " Keywords ... ", class:"search_form" %>  
        <%= f.submit 'Search', class: "search-btn"  %>
      <% end %>
    </div>
  </div>
</div>
