<br>
<h1>Blogs</h1>
<%= button_to 'Make new Post', new_blog_path, method: :get %><br>

<%= form_with(url: search_blogs_path, method: :get, local: true) do %>      
  <%= text_field_tag :search_detail %>
  <%= submit_tag 'Search' %>
<% end %><br>

<% if @blogs.present? %>
  <% @blogs.each do |blog| %>
    <div class = "table-responsive">
      <table >
        <tr class="category">
          <th colspan="5" >
            <% blog.categories.each do |category| %>
              <%= category.name %>
            <% end %>
          </th>
        </tr>

        <tr>
          <td>
            <%= image_tag (blog.user.avatar.url), class: "avatar-index rounded-circle mx-auto"  if blog.user.avatar && blog.user.avatar.url %>
          </td>
          <td>
            <%= blog.user.name %>
          </td>
          <td>
            <%= blog.created_at.to_s(:datetime) %>
          </td>
          <td>
            <%= link_to 'Show', blog %>
          </td>            
        </tr>

        <tr>
          <th colspan="5" class="th_title">
              <%= blog.title %>
          <th>
        </tr>

        <tr>
          <th colspan="5" class="th_detail">
          <textarea rows="5" cols="35"><%= blog.detail %></textarea>
          <th>
        </tr>

        <tr>
          <td colspan="5" class="spk">
            <button class="speak-btn" data-blog="<%= blog.detail %>">speak</button>
            <button class="stop-btn">stop</button>
            <div class = "speak"></div>
          </td>
        </tr>
        
        <tr>
          <th colspan="5" class="th">
              <%= image_tag(blog.image.url) if blog.image && blog.image.url %>
          </th>
        <tr>

        <tr class="option">            
          <td colspan="5" >
            <% if @favorite.present? %>
              <%= link_to 'Dislike', favorite_path(id: favorite.id), method: :delete %>
            <% else %>
              <%= link_to 'Like', favorites_path(blog_id: blog.id), method: :post %>
            <% end %> &nbsp;          
            <%= link_to 'Edit', edit_blog_path(blog) %> &nbsp;          
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div><br>

  <% else %>
    <%= "Your search didn't match any results" %>        
  <% end %>    
  
  <div class="page">
    <% if @blogs.present? %>
      <%= paginate @blogs %>    
    <% end %>
  </div>

