<br>
<h1>All Posts</h1>
<p id="notice"><%= notice %>

<div id = "first_line">
  <div class = "new">
    <%= button_to 'Make new Post', new_blog_path, class:"new_blog", method: :get %>
  </div>
</div><br>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3" id="sticky-sidebar">
      <div class="sticky-top">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class = "col3">
            <div class="card-header">Main Menu</div>
              <div class="card-body text-secondary">
                <h5 class="card-title">
                  <%= link_to "Index", blogs_path, class: "link" %>
                </h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="side-subtitle">
                      <span class="material-icons">language</span>
                      <%= link_to "Languages", categories_path, method: :get, id:"side-subtitle" %>
                    </li>
                    <li class="list-group-item">
                      <%= link_to "English", categories_english_path, class: "link" %>
                    </li>
                    <li class="list-group-item">
                      <%= link_to "Japanese", categories_japanese_path, class: "link" %>
                    </li>
                  </ul>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="side-subtitle">
                      <span class="material-icons">person</span>
                      <%= link_to "Profile", mypage_path, class: "link" %>
                    </li>
                    <li class="list-group-item">
                      <%= link_to "My Favorites", favorites_path, class: "link" %>                       
                    </li>
                    <li class="list-group-item">
                      <%= link_to "Update my profile", edit_user_registration_path, class: "link" %>                       
                    </li>                    
                  </ul>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="side-subtitle">
                      <span class="material-icons">redeem</span> Shares
                    </li>
                    <li class="list-group-item">
                      <p>
                        <a class="btn" href="https://www.youtube.com/c/Nonki4ever">
                          <span class="material-icons" id="open">open_in_new</span>
                        </a>                      
                        <a class="link" href="https://www.youtube.com/c/Nonki4ever">Nonki Channel</a>
                      </p>
                      <p class="link-text01">A Youtube channel for learning Japanese and English conversation by shadowing method.</p>
                      <p class="link-text02">(made by Remi Nakajima since 2018)</p>                       
                    </li>                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="col-xs-6 col-sm-4 col-md-6">
      <% if @blogs.present? %>
        <% @blogs.each do |blog| %>
          <div class = "table-responsive">
            <table >
              <tr class="category">
                <th colspan="5" >
                  <div class="card-header">
                    <% blog.categories.each do |category| %>
                      <%= category.try(:name) || "Others" %>                 
                    <% end %>
                    <div class="blog_show">
                      <a class="btn" href="<%= blog_path(blog) %>">
                        <span class="material-icons" id = "blog_show">open_in_new</span>
                      </a>
                    </div>
                  </div>
                </th>
              </tr>

              <tr>
                <th colspan="5" class="th_user">
                  <p class="card-text">
                    <%= image_tag (blog.user.avatar.url), class: "avatar-index rounded-circle mx-auto" if blog.user.avatar && blog.user.avatar.url %>
                  <span class = "user_name">
                    <%= blog.user.name %>
                  </span>
                    <%= blog.created_at.to_s(:datetime) %>                    
                  </p>
                </th>
              </tr>
         
              <tr>
                <th colspan="5" class="th_detail">
                  <p class="fw-normal">
                    <p class="lh-lg">
                      <%= blog.detail %>
                    </p>
                  </p>
                <th>
              </tr>

              <tr>
                <th colspan="5" class="th_title">
                  <blockquote class="blockquote mb-0">
                    <cite title="Source Title">
                       ～ by <%= blog.title %>
                     </cite>
                  </blockquote>
                </th>
              </tr>

              <tr>
                <td colspan="5" class="spk">
                  <button class="speak-btn" data-blog="<%= blog.detail %>">
                    <span class="material-icons">play_circle</span>
                  </button>
                  <button class="pause-btn">
                    <span class="material-icons">pause</span>
                  </button>
                  <button class="resume-btn">
                    <span class="material-icons">play_circle_outline</span>
                  </button>
                  <button class="stop-btn">
                    <span class="material-icons">stop_circle</span>
                  </button>
                </td>
              </tr>
              
              <tr>
                <th colspan="5" class="th">
                    <%= image_tag(blog.image.url) if blog.image && blog.image.url %>
                </th>
              <tr>

              <tr class="option">            
                <td colspan="5" >
                  <% if blog.favorites.present? %> 
                    <div class = "link_count">
                      <%= blog.favorites.size %> 
                    </div>                  
                    <i class="fa fa-heart" style="font-size:24px;color:hotpink"></i>                    
                    <%= link_to 'Dislike', blog_favorite_path(id: blog.id, blog_id: blog.id), class:'link_icon', method: :delete %>
                  <% else %>
                    <div class = "link_count">
                      <%= blog.favorites.size %> 
                    </div>
                    <i class="fa fa-heart" style="font-size:24px;color:hotpink"></i>                     
                    <%= link_to 'Like', favorites_path(blog_id: blog.id), class:'link_icon', method: :post %>
                  <% end %> 
                    <div class = "link_count">
                      <%= blog.comments.size %> 
                    </div>
                    <%= link_to 'Comment', blog, class:'link_icon' %>
                  <% if blog.user_id == current_user.id %>
                    <%= link_to 'Edit', edit_blog_path(blog), class:"link_blog" %>
                    <%= link_to 'Delete', blog, class:'link_blog', method: :delete, data: { confirm: 'Are you sure?' } %>                    
                  <% else %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>          
        </div>
      </div>


    <div class="col-xs-12 col-sm-4 col-md-3" id="sticky-sidebar">
      <div class="sticky-top">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class = "col3">
            <div class="card-header">Informations</div>
              <div class="card-body text-secondary">
                <h5 class="card-title">                
                  <span class="material-icons">auto_awesome</span>
                  Lastest posts
                </h5>
                  <ul class="list-group list-group-flush">
                    <% @blogs.each.with_index(1) do |blog, idx| %> 
                      <li class="list-group-item" id="list">
                        <div class ="list_title">                          
                          <%= idx %>
                          <a class="btn" href="<%= blog_path(blog) %>">
                            <span class="material-icons" id="open">open_in_new</span>
                          </a>
                          <span class = "title"><%= blog.title %></span> by
                          <% if blog.user.name.present? %>
                            <%= blog.user.name %>
                          <% else %>
                            <%= "Guest" %>
                          <% end %>                          
                        </div>
                      </li>
                    <% end %>
                  </ul>                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  <div class="pagination">
    <% if @blogs.present? %>
      <%= paginate @blogs %>    
    <% end %>
  </div>

  <% else %>
    <%= "Your search didn't match any results" %>        
  <% end %>    
  

