<p id="notice"><%= notice %><br>
<%= button_to 'Categories', categories_path, method: :get %><br>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>All posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @blogs.each do |blog| %>
      <tr>
        <td><% blog.categories.each do |category| %>
            <%= category.name %>
            <% end %></td>
        <td><%= blog.title %></td>
        <td><%= blog.detail %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
