<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Dislike', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Like', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<br>
<% @blog.categories.each do |category| %>
    <%= category.name %>
  <% end %>
<p id="notice"><%= notice %></p>
  <select id="voice-select"></select><br>
 
Created by <%= @blog.user.name %> <br>

<%= image_tag (@blog.user.avatar.url) , class: "avatar-index rounded-circle mx-auto" if @blog.user.avatar && @blog.user.avatar.url %>    
          
<p>Title:<%= @blog.title %></p>
<p>
  <strong>Detail:</strong>
  <textarea rows="3" cols="40" id="text"><%= @blog.detail %></textarea>
</p>
<button id="speak-btn">speak</button>
<button id="stop-btn">stop</button>
<br>
<br>
<div class="record">
<div id="Control">
  <button id="MicOn">Get the microphone</button><br/>
  <button id="RecStart">Record</button>
  <button id="RecStop" disabled>Stop</button><br>
  <div id="RecMime"></div>
</div></div> <br>

<%= image_tag @blog.image.url  if @blog.image && @blog.image.url %> <br>

<p>コメント一覧</p>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>

  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>


