<br>
<h1>My favorite list</h1>

<div class="alert alert-light" role="alert">
  <div id="notice02"><%= notice %></div>
</div>

<div id = "first_line">
  <div class = "new">
    <%= button_to 'Make new Post', new_blog_path, class:"new_blog", method: :get %>
  </div>
</div>

<div class="container">
  <div class="row">
  
  <%= render partial: 'blogs/left', locals: { blog: @blog } %>
  <%= render partial: 'blogs/right', locals: { blog: @blog }%>
  
  <div class="col-xs-6 col-sm-4 col-md-6 order-1 order-md-2">
    <% if @favorites.present? %>
      <% @favorites.each do |favorite| %>
        <div class = "table-responsive">
          <table >
            <tr class="category">
              <th colspan="5" >
                <div class="card-header">
                  <% favorite.blog.categories.each do |category|%>
                    <%= category.try(:name) || "Others" %> 
                  <% end %>
                  <div class="blog_show">
                    <a class="btn" href="<%= blog_path(favorite.blog) %>">
                      <span class="material-icons" id = "blog_show">open_in_new</span>
                    </a>
                  </div>
                </div>
              </th>
            </tr>            

            <tr>
              <th colspan="5" class="th_user">
                <div class="card-text"> 
                  <div class = "user_informations">
                    <a class="btn" href="<%= user_path(favorite.blog.user_id) %>">
                      <%= image_tag (favorite.blog.user.avatar.url), class: "avatar-index rounded-circle mx-auto" if favorite.blog.user.avatar && favorite.blog.user.avatar.url %>
                    </a> 
                    <span class = "user_name">
                      <a class="link_icon" href="<%= user_path(favorite.blog.user_id) %>">
                        <%= favorite.blog.user.name %>
                      </a>
                    </span> 
                    <%= favorite.blog.created_at.to_s(:datetime) %>
                  </div>
                  <div class="b-right">
                    <div class="user_follow">
                      <%= render 'users/follow_form', user: favorite.blog.user %>
                    </div>
                  </div> 
                </div>
              </th>
            </tr>

            <tr>
              <th colspan="5" class="th_detail">                
                <a class="blog_detail" href="<%= blog_path(favorite.blog.id) %>">
                  <blockquote class="quote-card">
                    <p>
                      <%= favorite.blog.detail %>
                    </p>
                  </blockquote>
                </a>
              <th>
            </tr>        

            <tr>
              <th colspan="5" class="th_title">
                <blockquote class="blockquote mb-0">
                  <cite title="Source Title" id="title_main">
                      ～ by <%= favorite.blog.title %>
                    </cite>
                </blockquote>
              </th>
            </tr>

            <tr>
              <td colspan="5" class="spk">
                <button class="speak-btn" data-blog="<%= favorite.blog.detail %>">
                  <span class="material-icons">play_circle</span>
                </button>
                <button class="pause-btn" disabled>
                  <span class="material-icons">pause</span>
                </button>
                <button class="resume-btn" disabled>
                  <span class="material-icons">replay_circle_filled</span>
                </button>
                <button class="stop-btn" disabled>
                  <span class="material-icons">stop_circle</span>
                </button>
              </td>
            </tr>
            
            <tr>
              <th colspan="5" class="th">
                  <%= image_tag(favorite.blog.image.url) if favorite.blog.image && favorite.blog.image.url %>
              </th>
            </tr>            

            <tr>
              <th colspan="5" class="tag">
                <% favorite.blog.tags.each do |tag| %>
                <%="#"%>
                <%= link_to tag.name, search_tag_path(tag_id: tag.id)%> 
              <% end %>
            </th>
          </tr>

            <tr class="option">            
              <td colspan="5" class="many_option">
                <div id="favorites_buttons_<%= favorite.blog.id %>">
                    <%= render partial: 'favorites/favorite', locals: { blog: favorite.blog} %>
                  </div>                  
                  <div class = "comment_count">
                    <%= favorite.blog.comments.size %> 
                  </div>
                  <a class="comment_btn" href="<%= blog_path(favorite.blog.id) %>">
                    <span class="material-icons" id="chat_bubble_outline">insert_comment</span>
                    <div class="sub">Comment</div>
                  </a>
                <% if current_user.present? && current_user.try(:admin?) %>
                <a class="btn" href="<%= edit_blog_path(favorite.blog) %>">
                  <span class="material-icons" id="edit_note">edit_note</span>
                  <div class="sub">Edit</div>
                </a>                 
                <%= button_to(blog_path(id: favorite.blog.id, blog_id: favorite.blog.id), class:"btn", method: :delete, data: { confirm: 'Are you sure?' }) do %>
                  <span class="material-icons" id="delete">delete</span>
                  <div class="sub">Delete</div>
              <% end %>
                <% elsif current_user.present? && favorite.blog.user_id == current_user.id %>
                  <a class="btn" href="<%= edit_blog_path(favorite.blog) %>">
                    <span class="material-icons" id="edit_note">edit_note</span>
                    <div class="sub">Edit</div>
                  </a>                 
                  <%= button_to(blog_path(id: favorite.blog.id, blog_id: favorite.blog.id), class:"btn", method: :delete, data: { confirm: 'Are you sure?' }) do %>
                    <span class="material-icons" id="delete">delete</span>
                    <div class="sub">Delete</div>
                <% end %>
              <% else %>
              <% end %>
              </td>
            </tr>      
            
          </table>
        </div>
      <% end %>
    <% else %>
      <%= "There are no post here." %>
    <% end %> 

    <div class="pagination">
      <% if @favorites.present? %>    
        <%= paginate @favorites %>    
      <% end %>      
    </div>
  </div>
  
  </div>
</div>

