<br><br>
<h1>My favorite list</h1>      

<% if @blogs.present? %>
  <% @favorites.each do |favorite| %>
    <div class = "table-responsive">
      <table >
        <tr class="category">
          <th colspan="5" >
            <% favorite.blog.categories.each do |category|%>
              <%= category.name %>
            <% end %>
          </th>
        </tr>

        <tr>
          <td>
            <%= image_tag (favorite.blog.user.avatar.url), class: "avatar-index rounded-circle mx-auto"  if favorite.blog.user.avatar && favorite.blog.user.avatar.url %>
          </td>
          <td>
            <%= favorite.blog.user.name %>
          </td>
          <td>
            <%= favorite.blog.created_at.to_s(:datetime) %>
          </td>            
        </tr>

        <tr>
          <th colspan="5" class="th_title">
              <%= favorite.blog.title %>
          <th>
        </tr>

        <tr>
          <th colspan="5" class="th_detail">
          <textarea rows="5" cols="35"><%= favorite.blog.detail %></textarea>
          <th>
        </tr>

        <tr>
          <td colspan="5" class="spk">
            <button class="speak-btn" data-blog="<%= favorite.blog.detail %>">speak</button>
            <button class="stop-btn">stop</button>
            <div class = "speak"></div>
          </td>
        </tr>
        
        <tr>
          <th colspan="5" class="th">
              <%= image_tag(favorite.blog.image.url) if favorite.blog.image && favorite.blog.image.url %>
          </th>
        <tr>

        <tr class="option">            
          <td colspan="5" >
            <% if favorite.present? %> 
              <%= link_to 'Dislike', favorite_path(id: favorite.id, blog_id: favorite.blog.id), method: :delete %>
            <% else %> 
              <%= link_to 'Like', favorites_path(blog_id: blog.id), method: :post %>
            <% end %> &nbsp;
          </td>
        </tr>
      <% end %>
    </table>
  </div><br>
<% end %>

<div class="page">
  <% if @favorites.present? %>    
    <%= paginate @blogs %>    
  <% end %>
</div>