<div class="alert alert-light" role="alert">
  <div id="notice02"><%= notice %></div>
</div>

<% comments.each do |comment| %>
  <% if comment.id.present? %>
    <% if comment.present? %>
      <div class = "comment_index">
        <tr>
          <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        </tr>
        <tr>          
          <% if comment.user.name.present? %>
            <div><%= image_tag (comment.user.avatar.url), class: "avatar-index rounded-circle mx-auto"  if comment.user.avatar && comment.user.avatar.url %> &nbsp; <strong> <%= comment.user.name %> </strong> &nbsp;made a comment.
            </div>
          <% else %>
            <div>            
            <%= image_tag (comment.user.avatar.url), class: "avatar-index rounded-circle mx-auto"  if comment.user.avatar && comment.user.avatar.url %> &nbsp; <%='Guest made a comment.'%>
            </div>
          <% end %>
        </tr>

        <tr>
          <div id="c_content">
            <span class="material-icons">notes</span>
              <%= simple_format(comment.content) %>
              <%= comment.created_at.to_s(:datetime) %>
              <% end %>
          </div>
        </tr>
        <tr>                  
          <%= link_to "Edit", edit_blog_comment_path(blog, comment),class:'link_blog', remote: true %> &nbsp;
          <%= link_to "Delete", blog_comment_path(comment.blog_id, comment.id), class:'link_blog', method: :delete, remote: true, data: { confirm: "Are you sure"} %>                      
        </tr>        
      </div><br>
    <% end %>
  <% end %>
  