<h1>Update my profile</h1>

<%= form_with model: @user do |form| %>
  <div>Name<%= form.text_field :name %></div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %><br>
    <%= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url %>
  </div><br>
  <div><%= form.submit "Submit" %></div>
<% end %>