<br>
<% if @user.name.present? %>
  <h1><%= image_tag (@user.avatar.url), class: "avatar-index rounded-circle mx-auto"  if @user.avatar && @user.avatar.url %> &nbsp; <%= @user.name %>'s page</h1><br>
<% else %>
  <h1><%= image_tag (@user.avatar.url), class: "avatar-index rounded-circle mx-auto"  if @user.avatar && @user.avatar.url %> &nbsp; Your page</h1><br>
<% end %>

<div class = "user_line"><%= button_to "Update my profile", edit_user_registration_path , method: :get,class:'new_blog' %> &nbsp;
<%= button_to "My favorites", favorites_path , method: :get, class:'new_blog' %></div> <br>

<div class="alert alert-light" role="alert">
  <div id="notice02"><%= notice %></div>
</div>

<div class="container">
  <div class="row">
  
    <%= render partial: 'blogs/left', locals: { blog: @blog } %> <br>

    <%= render partial: 'blogs/index', locals: { blog: @blog, user: @user } %> <br>

    <%= render partial: 'blogs/right', locals: { blog: @blog, user: @user }%> <br>

  </div>
</div>
