<h1>My page</h1><br>

<p><%= link_to "Update my profile", edit_user_registration_path , class:'btn btn-light' %> &nbsp;
<%= link_to "My favorites", favorites_path , class:'btn btn-light' %></p> 

<p id="notice"><%= notice %>

<div class="container">
  <div class="row">
  
  <%= render partial: 'blogs/left', locals: { blog: @blog } %>
  <%= render partial: 'blogs/index', locals: { blog: @blog, user: @user } %>
  <%= render partial: 'blogs/right', locals: { blog: @blog }%>

  </div>
</div>
