<div class="col-xs-6 col-sm-4 col-md-6 order-1 order-md-2">
  <div class = "table-responsive">
    <table class = "chat-table">
      <tr >
        <td class="chat-input">   
          <%= form_with model: @chat, class: "js-form" do |f| %>  
          <%= f.text_area :message, size:"20x1", class:"chat-message" %>
          <%= f.hidden_field :room_id %> <br>
          <%= f.submit "Send", class:"new_blog" %>
          <% end %>
        </td>
      </tr>

      <% @chats.each do |chat| %> 
        <% if chat.user_id == current_user.id %> 
          <tr >
            <td class="chat-text">               
              <p style="text-align: left;">
                <a class="btn" href="<%= user_path(current_user.id) %>">
                  <%= image_tag (current_user.avatar.url), class: "avatar-index rounded-circle mx-auto" if current_user.avatar && current_user.avatar.url %>
                </a> 
                <span class = "user-name">
                  <a class="link_icon" href="<%= user_path(current_user.id) %>">
                    <%= current_user.name %>
                  </a>
                </span>  
                <%= chat.message %>              
              </p>
              <span class = "chat-time-left">
                <%= chat.created_at.to_s(:datetime) %>
              </span> 
            </td>            
          </tr> 
          
          <% else %> 
            <tr > 
              <td class="chat-text">
                <p style="text-align: right;">                
                  <%= chat.message %>                  
                  <span class = "user-name">
                    <a class="link_icon" href="<%= user_path(@user.id) %>">
                      <%= @user.name %>
                    </a>
                  </span>
                  <a class="btn" href="<%= user_path(@user.id) %>">
                    <%= image_tag (@user.avatar.url), class: "avatar-index rounded-circle mx-auto" if @user.avatar && @user.avatar.url %>
                  </a>
                </p> 
                <span class = "chat-time-right">
                  <%= chat.created_at.to_s(:datetime) %>
                </span> 
              </td>            
            <% end %>
          <% end %>
        </tr>
      </thead>
    </table>

    <div class="error-alert"></div> 

    <div class="pagination">
      <%= paginate @chats %>    
    </div>
  </div>  
</div>