<%= stylesheet_link_tag 'only/top', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'only/top_star', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= stylesheet_link_tag 'all/application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      </div>

  <div class="col-sm">
    <div class="bg"></div>
    <div class="star-field">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    
    <div class="d-flex flex-column justify-content-center w-100 h-100">      
      <div class="d-flex flex-column justify-content-center align-items-center">
        <br> 
          <h1>Inspire</h1>
            <h2 class ="login_title">Login</h2><br>          

              <div class ="login_field">
                <div class="login_button">
                  <table>
                    <tr>
                      <%= link_to 'Guest login', users_sign_in_guest_path, method: :post , class:"new_session" %> &nbsp;
                      <%= link_to 'Google login', user_google_omniauth_authorize_path, method: :get , class:"new_session" %>  &nbsp;
                      <%= link_to 'Sign Up', new_user_registration_path, method: :get , class:"new_session" %>
                    </tr>
                  </table>
                </div><br>
                
              <p id="notice"><%= notice %></p>
      
              <% resource = User.new unless resource %>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                
                <div class="field">
                  <%= f.label :email %><br>
                  <%= f.email_field :email, autofocus: true, placeholder: " abc@xyz.com" %>
                </div><br>

                <div class="field">
                  <%= f.label :password %><br>
                  <%= f.password_field :password, autocomplete: "off" , placeholder: " At least 6 characters" %>
                </div><br>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.label :remember_me %><br>
                    <%= f.check_box :remember_me %>
                  </div>
                <% end -%><br>

                <div class="actions">
                  <%= f.submit "Log in" , class: "search-btn"%>
                </div><br>
              <% end %>

            <div class="login_button">
              <table>
                <tr>
                  <%= link_to 'Back to top', root_path, method: :get , class:"new_session" %> &nbsp;
                </tr>
              </table>
            </div>

            <div class="col-sm">
            </div>

          </div>
        </div>
      </div>
    </div><br><br><br>