<br>
<h1>English</h1> 

<div class="alert alert-light" role="alert">
  <div id="notice02"><%= notice %></div>
</div>

<div id = "first_line">
  <div class = "new">
    <%= button_to 'Make new Post', new_blog_path, class:"new_blog", method: :get %>
  </div>
</div><br>

<div class="container">
  <div class="row">

  <%= render partial: 'blogs/left', locals: { blog: @blog } %>
  <%= render partial: 'blogs/right', locals: { comment: @comment }%>
  <%= render partial: 'blogs/index', locals: { blog: @blog } %>

  </div>
</div>


