<br>
<h1>Japanese</h1> 

<div class="alert alert-light" role="alert">
  <div id="notice02"><%= notice %></div>
</div>

<div id = "first_line">
  <%= render partial: 'blogs/search', locals: { blog: @blog } %> 
</div>

<div class="container">
  <div class="row">

  <%= render partial: 'blogs/left', locals: { blog: @blog } %>
  <%= render partial: 'blogs/right', locals: { comment: @comment }%>
  <%= render partial: 'blogs/index', locals: { blog: @blog } %>

  </div>
</div>