<!DOCTYPE html>
<html>
  <head>
    <title>Inspire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag 'all/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "tts/speak.js" %>
    <%= javascript_include_tag "tts/record.js" %>
    <%= javascript_include_tag "tts/remove.js" %>
  </head>

    
  <body>  
    <header class = "header">
      <div class = "navigation">
        <nav id="primary_nav_wrap">

          <ul class="top_menu clearfix">
            <li class="left">                      
              <a class="btn" href="<%= blogs_path %>">
                <span class="material-icons">home</span>
              </a>
            </li>
            <li class="left"> 
              <div class = "voice">
                <select id="voice-select"></select> 
              </div>
            </li>

          <div class="b-right">
            <li class="menu"> <span class="material-icons">list</span>
              <ul>
                <li class="right">
                  <a class="btn" href="<%= root_path %>">
                    <span class="material-icons">business</span>
                  </a>
                </li>
                <% if user_signed_in? %>
                <% if current_user.try(:admin?) %>              
                  <li class="right">
                    <%= link_to "Admin", rails_admin_path, class: "link" %>
                  </li>                  
                  <li class="dir">
                    <%= link_to "◀ Languages", categories_path, method: :get, class: "link" %>
                      <ul>
                        <li>
                          <%= link_to "English", categories_english_path, class: "link" %>
                        </li>
                        <li>
                          <%= link_to "Japanese", categories_japanese_path, class: "link" %>
                        </li>
                      </ul>
                  </li>
                  <li class="right">
                    <%= link_to "Profile", mypage_path, class: "link" %>
                  </li>
                  <li class="right">
                    <%= link_to "Logout", destroy_user_session_path, class: "link" %>
                  </li>
                <% else %>
                  <li class="right">                
                    <%= link_to "Index", blogs_path, class: "link" %>
                  </li>
                  <li class="dir">
                    <%= link_to "◀ Languages", categories_path, method: :get, class: "link" %>
                      <ul>
                        <li>
                          <%= link_to "English", categories_english_path, class: "link" %>
                        </li>
                        <li>
                          <%= link_to "Japanese", categories_japanese_path, class: "link" %>
                        </li>
                      </ul>
                  </li>
                  <li class="right">
                    <%= link_to "Profile", mypage_path, class: "link" %>             
                  </li>
                  <li class="right">
                    <%= link_to "Logout", destroy_user_session_path, class: "link" %>
                  </li>              
                <% end %>
                <% else %>              
                  <li class="right">                
                    <%= link_to "Index", blogs_path, class: "link" %>
                  </li>
                  <li class="dir">
                    <%= link_to "Languages", categories_path, method: :get, class: "link" %>
                      <ul>
                        <li>
                          <%= link_to "English", categories_english_path, class: "link" %>
                        </li>
                        <li>
                          <%= link_to "Japanese", categories_japanese_path, class: "link" %>
                        </li>
                      </ul>
                  </li>
                  <li class="right">              
                    <%= link_to "Sign up", new_user_registration_path, class: "link" %>
                  </li>                  
                  <li class="right">
                    <%= link_to "Login", new_user_session_path	, class: "link" %>
                  </li>              
                  <li class="right">                        
                    <%= link_to "Login by Google", user_google_omniauth_authorize_path, method: :post, class: "link" %>
                  </li>
                <% end %>            
              </ul>
            </li>
          </div>

        </ul>
      </nav>
    </div>
  </header>

  <div class = "main-btn">
    <div class="floating-container">
      <div class="floating-button">
        <span class="material-icons">
          settings_voice
        </span>
      </div>
      <div class="element-container">
        <span class="float-element tooltip-left">
          <i class="material-icons">
            <span class="material-icons">
              <button id="RecStop">
                stop_circle
              </button>
            </span>
          </i>           
        <span class="float-element">
          <span class="material-icons">
            <button id="RecStart" >
              record_voice_over
            </button>     
          </span>
        </span>
        <span class="float-element">
          <span class="material-icons">
            <button id="MicOn">
              settings_voice
            </button>            
          </span>
        </span>     
      </div>
    </div>
  </div>

  <footer>
    <div class="foot-wrap">
      <div class="menu-left">
        
        <span class="drop-up">
          <span class="drop-up-item">
            <button type="button">
              <span class="material-icons">search</span>
            </button>
              <span class="drop-up-sub-nav">
                <span class="drop-up-item">
                  <div class ="search">
                    <%= form_with(url: search_blogs_path, class: "search_container", method: :get, local: true) do %>      
                      <%= text_field_tag :search_detail %>  
                      <%= submit_tag "Search", class: "search-btn" %>
                    <% end %> 
                  </div>
                </span>      
              </span>
          </span>
        </span>
      <ul class="foot-left">
      </ul>
    </div>

    <div class="menu-center">
      <div id="Control">
        <div id="RecMime">
        </div>
    </div>     
    <div id ="visible">
      <div id ="player" onclick="showbox()">
        <span class="material-icons">visibility</span>
      </div>
      <div id ="player" onclick="hidebox()">
        <span class="material-icons">visibility_off</span>
      </div>
    </div>
      <ul class="foot-center">
      </ul>
    </div>

    <div class="menu-right"> 
        <a class="btn" href="<%= new_blog_path %>">
          <span class="material-icons">note_add</span>
        </a>
          <ul class="foot-right">
          </ul>        
      </div>
    </div>
  </footer>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
  </body>    
</html>
